.loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 60px;
  padding-bottom: 60px;

  :global(.ant-divider) {
    margin-top: -10px;
  }
}
